ConnectionStrings__Default=YourConnectionStringHere
Observability__Endpoint=YourObservabilityEndpointHere
Jwt__Key=YourJwtKey
R2__AccessKey=YourR2AccessKeyHere
R2__SecretKey=YourR2SecretKeyHere
R2__S3API=YourR2ServiceUrlHere